# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
db.sqlite3
/media
/staticfiles

# Virtual env
venv/
.env

# VSCode or IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Compiled files
*.so
*.egg-info/

# Docker volumes (optional)
mysql_data/
